<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="form-sample">
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Group:</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>Main</option>
                      <option>1001</option>
                      <option>1002</option>
                      <option>1003</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="pickerfrom">
                <mat-datepicker-toggle matSuffix [for]="pickerfrom">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #pickerfrom></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="pickerto">
                  <mat-datepicker-toggle matSuffix [for]="pickerto">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #pickerto></mat-datepicker>
                </mat-form-field>
              </div>
              <!-- </div> -->
              <!-- <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Pack Group:</label>
                    <div class="col-sm-9">
                      <select class="form-control">
                        <option>1 day</option>
                        <option>7 day</option>
                        <option>30 day</option>
                      </select>
                    </div>
                  </div>
            </div>
        
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price: </label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option>299</option>
                    <option>399</option>
                    <option>499</option>
                  </select>
                </div>
              </div>
            </div>
    
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Pack Name: </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                  </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Code :</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" />
                  </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Speed: </label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>3G</option>
                      <option>4G</option>
                      <option>5G</option>
                    </select>
                  </div>
                </div>
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Data Pack: </label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>1.5G</option>
                      <option>2.0G</option>
                      <option>Unlimit</option>
                    </select>
                  </div>
                </div>
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Voice File: </label>
                  <div class="col-sm-9">
                    <input type="file" class="form-control" />
                  </div>
                </div>
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">File Name: </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" disabled/>
                  </div>
                </div>
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">File info: </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" disabled/>
                  </div>
                </div>
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Name Script: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control"/>
                    </div>
                  </div>         
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Info Script: </label>
                    <mat-form-field class="col-md-8">
                        <textarea matInput placeholder="Enter here"></textarea>
                      </mat-form-field>
                </div>
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Enable: </label>
                    <div class="col-sm-9">
                        <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                          </mat-radio-group>
                    </div>
                  </div>         
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Offer Ontop Pack: </label>
                    <div class="col-sm-9">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="0">0</mat-radio-button>
                            <mat-radio-button value="1">1</mat-radio-button>
                          </mat-radio-group>
                    </div>
                  </div>         
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Flexi Pack: </label>
                    <div class="col-sm-9">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="0">0</mat-radio-button>
                            <mat-radio-button value="1">1</mat-radio-button>
                          </mat-radio-group>
                    </div>
                  </div>         
              </div>
            
          </div>
          <div class="col-md-6" style=" text-align: center;">
            <button mat-raised-button color="primary">Apply Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>