<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <!-- <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div> -->
          <div class="text-wrapper">
            <!-- <p class="profile-name"></p> -->
            <!-- <div>
              <p class="profile-name">{{user}}</p>
              <span class="status-indicator online"></span>
            </div> -->
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item" *ngFor="let item of object | keyvalue">
      <a class="nav-link" routerLink="/{{item.value.menu_url}}" routerLinkActive="active">
        <i class="menu-icon mdi {{item.value.menu_icon}}"></i>
        <span class="menu-title">{{item.value.menu_name}}</span>
      </a>
      <ul *ngIf="item.value.menu_sub_action == 1">
        <li class="nav-item" *ngFor="let item of item.value.menu_sub | keyvalue">
          <a class="nav-link" routerLink="/{{item.value.menu_sub.menu_url}}" routerLinkActive="active">
            <i class="menu-icon mdi {{item.value.menu_sub.menu_icon}}"></i>
            <span class="menu-title">{{item.value.menu_sub.menu_name}}</span>
          </a>
        </li>
      </ul>
    </li>


  </ul>
  <!-- <h3 class="first">Basic</h3>
<p-menu [model]="items"></p-menu> -->

<!-- <h3>Popup</h3>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
<button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button> -->
</nav>
