
    <div class="col-xl-5 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="row flex-grow">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label class="col-md-3 control-label">new License: </label>
                  <div class="col-md-8">
                    <input type="text" formControlName="token" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary">confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
      </div>