<p-table #dt [columns]="selectedColumns" [value]="data" [scrollable]="true" [style]="{width:'auto'}" scrollHeight="400px" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [reorderableColumns]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
        <div >
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="text-align:left"></p-multiSelect>
                        <i class="pi pi-search" ></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:250px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let colheader of columns" [pSortableColumn]="colheader.field" pResizableColumn pReorderableColumn>
                {{colheader.header}}
                <p-sortIcon [field]="colheader.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template> 
</p-table>




<p-dialog header="add new offers" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="p-grid ui-fluid" >
        <div class="p-col-4">
            <label for="vin">Vin</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="vin"  autofocus />
        </div>
        <div class="p-col-4">
            <label for="year">Year</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="year" />
        </div>
        <div class="p-col-4">
            <label for="brand">Brand</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="brand" />
        </div>
        <div class="p-col-4">
            <label for="color">Color</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="color" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times"  label="reset"></button>
            <button type="button" pButton icon="pi pi-check"  label="Save"></button>
        </div>
    </p-footer>
</p-dialog>