<p-table #dt [columns]="selectedColumns" [value]="data" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [reorderableColumns]="true" selectionMode="multiple" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="number_id" [(selection)]="selectedCars3"  [metaKeySelection]="true">
    <ng-template pTemplate="caption">
        <div >
            <div class="p-d-flex">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="text-align:left"></p-multiSelect>
                        <i class="pi pi-search" ></i>
                        <input type="text" pInputText size="50" placeholder="Search Payment type only" (input)="dt.filter($event.target.value, 'Payment_Type', 'startsWith')" style="width:auto">
            </div>
            
        </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <!-- <col  style="width: 6em"> -->
            <col *ngFor="let col of columns" [ngStyle]='col.style'>
            <col  >
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr >
            <!-- <th >
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <!-- <td >
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td> -->
            <td *ngFor="let col of columns" >
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
            <button type="button" pButton icon="pi pi-exclamation-circle"  (click)="deltedata(selectedCars3)" label="delete" [disabled]="selectedCars3?.length == 0 || selectedCars3?.length == undefined || selectedCars3?.length == ''"></button>
            <button type="button" pButton icon="pi pi-user-edit"  (click)="onRowSelect(selectedCars3)" label="edit" [disabled]="selectedCars3?.length > 1 || selectedCars3?.length == undefined || selectedCars3?.length == ''"></button>           
        <p-fileUpload   accept=".csv" customUpload="true"  (uploadHandler)="changeListener($event.files)"  chooseLabel="Browse"></p-fileUpload>
    </ng-template>  
</p-table>




<p-dialog header="add new offers" [(visible)]="displayDialog" [modal]="true"  [style]="{width: '650px'}" [baseZIndex]="10000">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="p-grid ui-fluid" >
        <div *ngIf="action == 'edit'">
            <div class="p-col-4">
                <label for="vin">No</label>
                <label style="float: right;"> Description:In order number </label>
            </div>
            <div class="p-col-8">
                <p-inputNumber  formControlName="number_id" mode="decimal" ></p-inputNumber>
            </div>
        </div>

        <div class="p-col-4">
            <label for="vin">Payment_Type*</label>
        </div>
        <div class="p-col-8">
            <p-dropdown [options]="PaymentTypeoptions" placeholder="Select Payment Type"  formControlName="Payment_Type" (onChange)="dataChanged($event)"></p-dropdown>
        </div>

        <div class="p-col-4">
            <label for="brand">planId</label>
        </div>
        <div class="p-col-8">
        <p-dropdown [options]="planIdoptions"  placeholder="Select Plan ID" formControlName="planId" [filter]="true"   [virtualScroll]="true" [itemSize]="31"></p-dropdown>
        </div>
        <div class="p-col-4">
            <label for="brand">promoMessage_th</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="promoMessage_th" />
        </div>
        <div class="p-col-4">
            <label for="color">promoMessage_en</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="promoMessage_en" />
        </div>
        <div *ngIf="action == 'edit'">
        <div class="p-col-4">
            <label for="brand">planDescription_th</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="planDescription_th" />
        </div>
        <div class="p-col-4">
            <label for="color">planDescription_en</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="planDescription_en" />
        </div>
        </div>   
        <div class="p-col-4">
            <label for="vin">formOfPayment</label>
          </div>
          <div class="p-col-8">
 
          <p-dropdown [options]="formofoptions"  placeholder="Select Form Of Payment"  formControlName="formOfPayment"  >
  
          </p-dropdown>
    
          </div>
        <!-- <div *ngIf="action == 'edit'">
        <div class="p-col-4">
                <label for="year">Company</label>
        </div>
        <div class="p-col-8">
                <input pInputText formControlName="Company" disabled/>
        </div>
        <div class="p-col-4">
            <label for="vin">planName_th</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="planName_th"  disabled/>
        </div>
        <div class="p-col-4">
            <label for="year">planName_en</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="planName_en" disabled/>
        </div>

        <div class="p-col-4">
            <label for="color">units</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="units" disabled/>
        </div>

        </div> -->
</div>

<div class="form-control"></div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align:right">
            <button type="reset" pButton icon="pi pi-times"  label="reset"  [disabled]="action == 'edit'"></button>
            <button type="summit" *ngIf="action == 'add'" pButton icon="pi pi-check"  label="Save" [disabled]="!loginForm.valid"></button>
            <button type="summit" *ngIf="action == 'edit'" pButton icon="pi pi-check"  label="edit" [disabled]="!loginForm.valid"></button>
        </div>
       
    </p-footer>
</form>
</p-dialog>