<p-table #dt [columns]="selectedColumns" [value]="data" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [reorderableColumns]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id" [(selection)]="selectedCars3" >
    <ng-template pTemplate="caption">
        <div >
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="text-align:left"></p-multiSelect>
                        <i class="pi pi-search" ></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col  style="width: 3em">
            <col *ngFor="let col of columns" style="width:250px">
            <col  >
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th >
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr >
            <td >
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
            <button type="button" pButton icon="pi pi-exclamation-circle"  (click)="deltedata(selectedCars3)" label="delete" ></button>
            <button type="button" pButton icon="pi pi-user-edit"  (click)="onRowSelect(selectedCars3)" label="edit" [disabled]="selectedCars3?.length > 1 || selectedCars3?.length == undefined || selectedCars3?.length == ''"></button>
        </div>
    </ng-template> 
</p-table>




<p-dialog header="add new offers" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '650px'}" >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="p-grid ui-fluid" >
        <div class="p-col-4">
            <label for="vin">Payment_Type*</label>
        </div>
        <div class="p-col-8">
            <p-inputNumber formControlName="Payment_Type" mode="decimal" [useGrouping]="false">
            </p-inputNumber>
        </div>
        <div class="p-col-4">
            <label for="year">offer_promoMessage</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="offer_promoMessage" />
        </div>
        <div class="p-col-4">
            <label for="brand">operatorBrandName</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="operatorBrandName" />
        </div>
        <div class="p-col-4">
            <label for="color">planName</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="planName" />
        </div>

        <div class="p-col-4">
            <label for="vin">planId</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="planId"  />
        </div>
        <div class="p-col-4">
            <label for="year">planDescription</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="planDescription" />
        </div>
        <div class="p-col-4">
            <label for="brand">promoMessage</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="promoMessage" />
        </div>
        <div class="p-col-4">
            <label for="color">languageCode</label>
        </div>
        <div class="p-col-8">
            <input pInputText formControlName="languageCode" />
        </div>
 

    <div class="p-col-4">
        <label for="vin">overusagePolicy</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="overusagePolicy"  />
    </div>
    <div class="p-col-4">
        <label for="year">maxRateKbps</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="maxRateKbps" />
    </div>
    <div class="p-col-4">
        <label for="brand">currencyCode</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="currencyCode" />
    </div>
    <div class="p-col-4">
        <label for="color">units</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="units" />
    </div>

    
    <div class="p-col-4">
        <label for="vin">nanos</label>
    </div>
    <div class="p-col-8">
        <p-inputNumber formControlName="nanos" mode="decimal" [useGrouping]="false">
        </p-inputNumber>
    </div>
    <div class="p-col-4">
        <label for="year">duration</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="duration" />
    </div>
    <div class="p-col-4">
        <label for="brand">offerContext</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="offerContext" />
    </div>
    <div class="p-col-4">
        <label for="color">trafficCategories</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="trafficCategories" />
    </div>

    <div class="p-col-4">
        <label for="vin">connectionType</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="connectionType"  />
    </div>
    <div class="p-col-4">
        <label for="year">refreshPeriod</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="refreshPeriod" />
    </div>
    <div class="p-col-4">
        <label for="brand">quotaBytes</label>
    </div>
    <div class="p-col-8">
        <p-inputNumber formControlName="quotaBytes" mode="decimal" [useGrouping]="false">
        </p-inputNumber>
    </div>
    <div class="p-col-4">
        <label for="color">quotaMinutes</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="quotaMinutes" />
    </div>
    <div class="p-col-4">
        <label for="color">expireTime</label>
    </div>
    <div class="p-col-8">
        <p-calendar formControlName="expireTime" [showIcon]="true"></p-calendar>
    </div>
    <div class="p-col-4">
        <label for="color">formOfPayment</label>
    </div>
    <div class="p-col-8">
        <input pInputText formControlName="formOfPayment" />
    </div>
</div>

<div class="form-control"></div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align:right">
            <button type="reset" pButton icon="pi pi-times"  label="reset"></button>
            <button type="summit" *ngIf="action == 'add'" pButton icon="pi pi-check"  label="Save" [disabled]="!loginForm.valid"></button>
            <button type="summit" *ngIf="action == 'edit'" pButton icon="pi pi-check"  label="edit" [disabled]="!loginForm.valid"></button>
        </div>
    </p-footer>
</form>
</p-dialog>