<div class="row">
<div class="col-md-6 d-flex align-items-stretch">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="form-group col-sm-9">
                <h4 class="card-title">MSISDN</h4>
                <input type="text" class="form-control"  aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="form-group">
            <button type="button" class="btn btn-success btn-fw" >Add</button>
            <button type="button" class="btn btn-secondary btn-fw">Remove</button>
            <button type="button" class="btn btn-primary btn-fw">Search</button>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>
  <div class="col-md-6 d-flex align-items-stretch">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Upload file</h4>
            <div class="form-group">
              <div class="input-group">
                <input type="file" class="upload" accept=".csv" (change)="changeListener($event.target.files)">
                <button type="button" class="btn btn-primary btn-fw" (click)="uploadfile()">Browse</button>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
  </div>
  <p-table [columns]="cols" [value]="cars" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"  [(selection)]="selectedCars3" dataKey="vin"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
</div>