
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$star-admin-angular-primary: mat-palette($mat-indigo);
$star-admin-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$star-admin-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$star-admin-angular-theme: mat-light-theme($star-admin-angular-primary, $star-admin-angular-accent, $star-admin-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($star-admin-angular-theme);

/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@mdi/font/scss/materialdesignicons";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    background: #ecedf0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color:#f5f5ef;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.login-wrapper {
  height: 100%;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
